= render "/partial/header"
#main-container
  = render "/partial/left_container"
  .right-container
    .right-container-title1
      %h3 トレーニングウェアの選び方
      = image_tag 'img_hl_01.gif'
    .right-container-body1
      %p
        トレーニングをする際、ウェアの選び方によってトレーニング効果も変わってきます。アスリート達のトレーニングを見ていても、皆コンプレッションウェアを着用していますよね。
        %br
        コンプレッションウェアは、長袖や半袖、ロングタイツやショートスパッツなど様々な形状と、それぞれに少しずつ異なった効果があるものが多くのブランドから販売されています。
        %br
        %br
        それでは、どのような基準でトレーニングウェアを選べば良いのでしょうか？
    .right-container-title2
      %h3 効果を出すためのトレーニングウェアの選び方
    .right-container-body2
      %p
        アスリート達は、それぞれのトレーニングの目的に合わせてウェアを選んでいます。
        %br
        スポーツの種類によって、適切なトレーニングウェアというのは違ってきます。
        %br
        %br
        以下に、それぞれのスポーツごとによく選ばれているトレーニングウェアをまとめました。
    .right-container-table
      %table
        %thead
          %tr
            %th{colspan: "1"}
            %th.col
              サッカー
              %br
              フットサル
            %th.col
              野球
            %th.col
              マラソン
              %br
              ランニング
            %th.col
              スキー
              %br
              スノーボード
            %th.col
              ゴルフ
            %th.col
              ロードバイク
              %br
              自転車競技
        %tbody
          %tr
            %th{scope: "row", class: "row"}
              SKINS
              %br
              %span スキンズ
            %td
              =image_tag src="img_txt_01.gif"
            %td
              =image_tag src="img_txt_01.gif"
            %td
              =image_tag src="img_txt_02.gif"
            %td
              =image_tag src="img_txt_01.gif"
            %td
              =image_tag src="img_txt_01.gif"
            %td
              =image_tag src="img_txt_01.gif"
          %tr
            %th{scope: "row", class: "row"}
              mizuno BIO GEAR
              %br
              %span ミズノバイオギア
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
          %tr
            %th{scope: "row", class: "row"}
              Reebok TAIKIN
              %br
              %spanリーボック タイカン
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
          %tr
            %th{scope: "row", class: "row"}
              UNDER ARMOUR
              %br
              %span アンダーアーマー
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
          %tr
            %th{scope: "row", class: "row"}
              C3fit
              %br
              %span シースリーフィット
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
          %tr
            %th{scope: "row", class: "row"}
              2XU
              %br
              %span ツータイムズユー
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_01.gif"
          %tr
            %th{scope: "row", class: "row"}
              adidas TECHFIT
              %br
              %span アディダステックフィット
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
          %tr
            %th{scope: "row", class: "row"}
              NIKE PRO
              %br
              %span ナイキプロ
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
          %tr
            %th{scope: "row", class: "row"}
              CW-X
              %br
              %span シーダブリューエックス
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_01.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
          %tr
            %th{scope: "row", class: "row"}
              VENEX
              %br
              %span ベネックス
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
            %td
              = image_tag "img_txt_02.gif"
= render  "/partial/footer", style: "width: 100%;"
