.left-container
  .advertisement
    = image_tag 'left-bn.gif'
  .traning-wear
    = image_tag 'left-wear.gif'
    %ul
      %li
        = image_tag 'left-nemu-2xu.gif'
        .left-menu-text
          2XU
          %span ツータイムズユー
      %li
        = image_tag 'left-nemu-adidas.gif'
        .left-menu-text
          adidas TECHFIT
          %span アディダステックフィット
      %li
        = image_tag 'left-nemu-c3fit.gif'
        .left-menu-text
          C3fit
          %span シースリーフィット
      %li
        = image_tag 'left-nemu-cwx.gif'
        .left-menu-text
          CW-X
          %span シーダブリューエックス
      %li
        = image_tag 'left-nemu-nike.gif'
        .left-menu-text
          NIKE PRO
          %span ナイキプロ
      %li
        = image_tag 'left-nemu-reebok.gif'
        .left-menu-text
          Reebok TAIKIN
          %span>リーボック タイカン
      %li
        = image_tag 'left-nemu-skins.gif'
        .left-menu-text
          Skins
          %span スキンズ
      %li
        = image_tag 'left-nemu-venex.gif'
        .left-menu-text
          VENEX
          %span ベネックス
      %li
        = image_tag 'left-nemu-under.gif'
        .left-menu-text
          UNDER ARMOUR
          %span アンダーアーマー
      %li
        = image_tag 'left-nemu-mizuno.gif'
        .left-menu-text
          mizuno BIO GEAR
          %span ミズノ バイオギア
  .traning-wear-guide
    = image_tag 'left-wear-guide.gif'
    %ul
      %li
        = image_tag 'icon01.gif'
        %span コンプレッションインナーとは？
      %li
        = image_tag 'icon01.gif'
        %span 高機能インナーとは？
      %li
        = image_tag 'icon01.gif'
        %span リカバリーウェアとは？
      %li
        = image_tag 'icon01.gif'
        %span トレーニングウェアの選び方
      %li
        = image_tag 'icon01.gif'
        %span フィットネスウェアの選び方