.wear-comparison-contents
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_2xu_s.gif'

    .wear-comparison-contents-parts-text
      %span 2XU
      %br ツータイムズユー
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_adidas_s.gif'
    .wear-comparison-contents-parts-text
      %span adidas TECHFIT
      %br アディダステックフィット
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_c3fit_s.gif'
    .wear-comparison-contents-parts-text
      %span C3fit
      %br シースリーフィット
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_cwx_s.gif'
    .wear-comparison-contents-parts-text
      %span CW-X
      %br シーダブリューエックス
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      =image_tag 'img_main_nike_s.gif'
    .wear-comparison-contents-parts-text
      %span NIKE PRO
      %br ナイキプロ
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_reebok_s.gif'
    .wear-comparison-contents-parts-text
      %span Reebok TAIKIN
      %br リーボック タイカン
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_skins_s.gif'
    .wear-comparison-contents-parts-text
      %span Skins
      %br スキンズ
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_venex_s.gif'
    .wear-comparison-contents-parts-text
      %span VENEX
      %br ベネックス
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_unuder_s.gif'
    .wear-comparison-contents-parts-text
      %span UNDER ARMOUR
      %br アンダーアーマー
  .wear-comparison-contents-parts
    .wear-comparison-contents-parts-img
      = image_tag 'img_main_mizuno_s.gif'
    .wear-comparison-contents-parts-text
      %span mizuno BIO GEAR
      %br ミズノ バイオギア