= render "/partial/header"
#main-container
  = render "/partial/left_container"
  .right-container
    .right-container-title1
      %h3
        adidas TECHFIT
        %span (アディダステックフィット)
        の効果と特徴
      = image_tag "img_hl_01.gif"
    .right-container-adidas-body
      %p
        プロサッカー選手も愛用していることで注目を集めているadidasのコンプレッションウェアTECHFIT(テックフィット)。
        世界的人気を誇るスポーツブランドadidasが開発したコンプレッションウェアということで、多くの人気を集めています。
        %br
        コンプレッションウェアは様々なブランドから発売されていますが、
        その機能性の高さから価格設定も高額なコンプレッションウェアが多い中、
        adidasのコンプレッションウェアは高機能を持ちながらも手頃な価格で販売されているのも人気の秘密です。
        %br
      = image_tag "img_main_adidas.gif"
    .right-container-title2
      %h3
        adidas TECHFIT
        %span (アディダステックフィット)
        の特徴

    .right-container-body2
      %p
        adidas TECHFITの特徴は、人間工学に基づいたウェア設計がなされているため、激しい運動中でも着衣ズレが起きないよう工夫されています。
        さらに、シーン別に以下のような3種類のウェア展開がなされています。
    .right-container-card
      %h3 1.高い通気性機能を持つ“TECHFIT COOL”
      .right-container-adidas-body-inner
        %p
          独自に開発されたCLIMACOOL機能を搭載。高い通気性が特徴です。
          %br
          シャツの前部分の素材は多孔質のため高い通気性を実現しています。
          %br
          汗を書きやすい背中部分は2層構造のメッシュ素材が採用されており、高い空冷効果と着心地を実現しています。
          ウェアに通気性を求める人にはこのシリーズがおすすめです。
        = image_tag "img_btn-panelchager02.gif"
    .right-container-card
      %h3 2.姿勢を正して体幹を支える“TECHFIT POWER
      .right-container-adidas-body-inner
        %p
          独自に開発されたPOWERWEB機能を搭載。
          姿勢を維持し、体幹の安定をサポートしてくれるため、アスリートのパフォーマンスを向上させます。
          %br
          ウェアに姿勢の矯正、体幹の安定を求める人にはこのシリーズがおすすめです。
        = image_tag "img_btn-panelchager02.gif"
    .right-container-card
      %h3 3.優れた吸水速乾性を持つ“TECHFIT BASE
      .right-container-adidas-body-inner
        %p
          独自に開発されたCLIMAKLITE機能を搭載。
          優れた吸水速乾性と透湿性を実現させたウェアです。
          %br
          柔軟性、軽量性に優れた素材が使用されているため着心地は抜群。肩部分に多孔質メッシュの新素材パネルが採用されているため通気性も良好です。
          %br
          ウェアに軽さと吸水速乾性を最も求める人にはこのシリーズがおすすめです。
        = image_tag "img_btn-panelchager02.gif"
    .right-container-title1
      %h3
        adidas TECHFIT
        %span (アディダステックフィット)
        のメリット・デメリット
      = image_tag "img_hl_01.gif"
    .marit-demerit-container
      .merit
        %h3 メリット
        %p
          adidas TECHFITのメリットは、高機能でデザインもかっこよくて価格が手頃、と3つのメリットが揃います。
          POWERWEBが搭載されたウェアでは、姿勢が矯正されるため、
          普段猫背などのように姿勢が悪かったのが矯正された、という声も聞かれます。
          %br
          さらに、adidasのファッション性を生かしたデザインに仕上げられており、見た目のカッコよさも人気です。
      .demerit
        %h3 デメリット
        %p
          試着時や新品を履くときはその着圧感からきつすぎると感じることがあります。
          %br
          しかし、一度洗濯をするとちょうどよく馴染むようになります。
          着用回数を重ね、洗濯を繰り返していくうちに伸びてきてしまうため、
          伸びてきて着用感が弱く感じる様になったら買い替え時と思いましょう。
    .right-container-title1
      %h3
        adidas TECHFIT
        %span (アディダステックフィット)
        はこんなウェア
      = image_tag "img_hl_01.gif"
    .adidas-wear-explanation
      %p
        adidas TECHFIT は、adidasならではのハイセンスなファッション性を生かしたデザインが人気を誇ります。
        %br
        更に、サッカーの内田篤人選手・香川真司選手・清武弘嗣選手がイメージモデルを努めていることからも、
        「同じウェアが着たい」というファンの人気を多く得ています。
        %br
        %br
        コンプレッションウェアの割に低価格な設定がされているadidas TECHFITは、
        同じく低価格でコンプレッションウェアを出してきているNIKEと人気を二分しています。
        %br
        adidasにもNIKEにもファッション性の高いスポーツブランドとして、その人気は“adidas派”“NIKE派”と別れているように、
        コンプレッションウェアも“adidas派”“NIKE派”とファンが別れているように見受けられます。
        %br
        NIKEとともに、本番用としてはもちろん、トレーニングウェアとして多くの愛用者を持つadidas TECHFITは、
        大人はもちろん、部活動などの練習着として多くの中高生からも愛用されています。
    .adidas-link
      %h3 >>
      %p
        adidas TECHFIT
        %span (アディダステックフィット)
        の
        %br
        %span.adidas-link-font
          ブランドサイトはこちら
    .right-container-title1
      %h3 その他のトレーニングウェア
      = image_tag "img_hl_01.gif"
    .traning-wear-templete
      = render "/partial/traning_wear"
= render  "/partial/footer", style: "width: 100%;"

